<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142581994863-bvc1b0clonnu90mrmkhsbth3dba7ebhp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142581994863-bvc1b0clonnu90mrmkhsbth3dba7ebhp</string>
	<key>API_KEY</key>
	<string>AIzaSyAE4qlBlfbcs21rgwonOo-EptL4ZduQKlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>142581994863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SBhamra.WaggAppiOS</string>
	<key>PROJECT_ID</key>
	<string>waggfirebaseproject</string>
	<key>STORAGE_BUCKET</key>
	<string>waggfirebaseproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142581994863:ios:69b15791361f2c6256849a</string>
	<key>DATABASE_URL</key>
	<string>https://waggfirebaseproject.firebaseio.com</string>
</dict>
</plist>